<!DOCTYPE html>

<html lang="en">


<head>
    <title>Nebula AI Quant AI History</title>
    <meta charset="utf-8">
    <meta name="description" content="Nebula AI blockchain tool">
    <meta name="keywords" content="AI, Blockchain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/styles/font-awesome.min.css" rel="stylesheet"/>
    <link href="../static/styles/main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <script src="../static/scripts/web3js_min.js"></script>
    <script src="../static/scripts/contract.js"></script>
    <script src="../static/scripts/history.js"></script>
</head>

<body>
<div id="bodycontainer">
    <div class="header">
        <div class="logo">
            <a href="http://nebula-ai.com"><img src="static/assets/images/Nebula_Logo2.png" alt="Nebula Logo"/></a>
        </div>
        <div class="action">
            <button type="button" class="btn btn-default" onclick="window.open('/', '_self')">
                <span>Back to Main</span>
            </button>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row taskdetail-content">
            <div class="col-xs-12 col-md-2">
                <h2>Task history</h2>
                <div style="margin-left:25px;">
                    <i id="history-loading" class="fa fa-spinner fa-spin" style="font-size:24px;"></i>
                </div>

                <ul class="histList"></ul>
            </div>
            <div class="col-md-5">
                <h2>Task Detail</h2>
                <table class="table">
                    <tr>
                        <td>Task Id</td>
                        <td id="task_id"></td>
                    </tr>
                    <tr>
                        <td>Task Address</td>
                        <td id="task_addr"></td>
                    </tr>
                    <tr>
                        <td>UUID</td>
                        <td id="uuid"></td>
                    </tr>
                    <tr>
                        <td>Task Name</td>
                        <td id="task_name"></td>
                    </tr>
                    <tr>
                        <td>Data Address</td>
                        <td id="data_addr"></td>
                    </tr>
                    <tr>
                        <td>Script Address</td>
                        <td id="scpt_addr"></td>
                    </tr>
                    <tr>
                        <td>Output Address</td>
                        <td id="outp_addr"></td>
                    </tr>
                    <tr>
                        <td>Task Started</td>
                        <td id="started"></td>
                    </tr>
                    <tr>
                        <td>Task Completed</td>
                        <td id="completed"></td>
                    </tr>
                    <tr>
                        <td>Task Error</td>
                        <td id="error"></td>
                    </tr>
                    <tr>
                        <td>Task Parameters</td>
                        <td id="params"></td>
                    </tr>
                </table>
                <!--<div id="chart"></div>-->

            </div>
            <div id="prediction" class="col-md-4">
                <h2>Result</h2>
                <div>
                    <p>Analyze Sentiment</p>
                    <p>Enter Text or Sentence <span>(use comma to separate sentences)</span>:</p>
                </div>
                <div>
                    <textarea id="inputText" rows="6" required></textarea>
                </div>
                <div style="text-align:center;">
                    <button id="btnChart" class="btn-lg btn-primary" style="background-color: #575E77;border-color:#7E8EAF">Confirm</button>
                </div>
                <div id="result">
                    <img id="pos" class="prediction" src="../static/assets/images/pos.png">
                    <img id="neg" class="prediction" src="../static/assets/images/neg.png">
                    <img id="neu" class="prediction" src="../static/assets/images/neutral.png">
                </div>

            </div>
        </div>
        <div class="footer">
            <img src="../static/assets/images/sentiment-logo.svg" alt="">
            Copyright reserved by NEBULA AI &copy;2017 - 2022
        </div>
    </div>
</div>
</body>

</html>