html,
body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    /* background: #DADADA; */
    background-image: url("../assets/images/sentiment-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #2F3238;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    /*line-height: 28px;*/
}

div.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    /*position: absolute;*/
    bottom: 10px;
    width: 100%;
    z-index: -1;
}

div.footer img {
    height:58px;
}

a {
	color: #7F8289;
	font-size: 16px;
    /*display: block;	*/
    text-decoration: none;
}

label{
    margin-top: 1rem;
}

a:hover {
    color: #7F8289;
    text-decoration: none;
}

a.selected {
	color: #DE5E60;
}
a.button {
    font-size: 16px;
    padding: 5px;
    background: #fff;
    border: 3px solid #2F3238;
    color: #2F3238;
}

.container-fluid.content{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin: 0;
    width: 94%;
    padding-top: 5%;
    z-index: 5;
}

#status{
    max-width: 100%;
}
.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    height: 15%;
    padding: 2% 3% 0 3%;
    margin-bottom: 2%;

}

.body-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.content-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 100%;
}

.logo img{
    width: 25%;
}

.header .action{
}

.content {
    /* display: flex;
    flex-direction: row; */

}

.content .editor {
    /*padding: 20px;*/
    /*margin-top: 150px;*/
    /*margin-left: 100px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .result {
    /*margin-top: 100px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.report-content {
    margin: 20px 0;
    padding: 5px; 
    height: 60%;
    overflow: scroll;
    width: 90%;
    border: 1px solid #2c2c2c;
    box-shadow: 2px 3px #888888;
    background-color: #EAEAEA
}


.taskdetail-content  {
    margin: 20px 0;
    padding: 5px;
    margin-top: 150px;
    margin-left: 100px;
    /*height: 68%;
    width: 750px; 
    border: 1px solid #4a2f8e;
    box-shadow: 2px 3px #888888;*/
}

.report-content::-webkit-scrollbar { 
    display: none; 
}

.input-group-lg {
    margin-bottom: 10px;
}

.data-form {
    width: 60%;
}

#chart {
    position: absolute;
    top:10%;
    left:10%;
    width: 80%;
    height: 80%;
}